form{
    margin:  15px  10px;
    height: 90vh;
}

item_down{
        margin-top: 25px;
        
}

.action{
    margin-top: 10px;
}

label{ 
    font-size: bold;
    padding: 10px;
    color: #2b2b2b;     
}

.down{
    display:flex;
    align-items: center;
    cursor: pointer;   
}

.editbtn{
    margin-right: 3px;
}

h4{
    color: navy;
    text-transform: uppercase;
    margin: 20px;
}

